#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 0.8rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
#home{
    height: 370px;
    padding: 3px 28px;
}
#home::before{
    height: 480px;
}
#home p{
    height: -13px;
    font-size: 0.8rem;
}
#services{
    flex-direction: column;
    overflow: hidden;
}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin: bottom 20px; 
}
#services .box img{
    height: 80px;
    display: block;
    margin: auto;
}
#clients{
    /* overflow: hidden; */
    flex-wrap: wrap;
}
#contact-box form{
    width: 80%;
}
#clients img{
    /* overflow: hidden; */
    width: 66px;
    padding: 6px;
    height: auto;
}
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 2px 8px;
}